:root {
    --primary: #13C5DD;
    --secondary: #354F8E;
    --light: #EFF5F9;
    --dark: #1D2A4D;
    --mainFont:"Roboto Condensed", sans-serif;
}

body{
    font-family:var(--mainFont);
}

.text-primary {
    color: var(--primary)!important;
}

.text-dark{
    color: var(--dark)!important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Jost', sans-serif;
    position: relative;
    margin-left: 30px;
    padding: 30px 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--dark);
    outline: none;
    transition: .5s;
}

.navbar-nav .nav-link{
    position: relative;
}

/* الخط */
.navbar-nav .nav-link::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background: var(--primary);
    transition: width .4s ease;
}

/* عند hover */
.navbar-nav .nav-link:hover::before,
.navbar-nav .nav-link.active::before{
    width: 100%;
}

.text-body {
    color: #848E9F !important;
}


/*hero*/
.hero-header {
    background: url(../img/hero.jpg) top right ;
    background-size: cover;
}

.border-white-light{
border-color: rgba(255,255,255,.3) !important;
}

.bg-primary {
    background-color: #13C5DD !important;
}

.btn {
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    box-shadow: 0 8px 6px -6px #555555;
    transition: 0.3s ease;
}

.btn-primary {
    color: #FFFFFF;
}

.about-img{
min-height:500px;
}

.about-imgw{
position:relative;
height:100%;
}

.about-img-image{
position:absolute;
width:100%;
height:100%;
object-fit:cover;
}